<nav>
    <div class="site-title">
        <a href="/"><h1>Blog <%= title %></h1></a>
        <p>Bolg site</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">NewBLOG</a></li>
    </ul>
    </div>
</nav>